/* BRAND SPINNER */
.spinner-square {
  box-sizing: border-box;
  position: relative;
  background-color: black;
  width: 64px;
  height: 32px;
  overflow: hidden;
}

.spinner-square::before {
  position: absolute;
  /* content: "Empik"; */
  content: attr(data-spinner-brand);
  color: white;
  font-size: 16px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-weight: bolder;
}

.spinner-circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  animation-name: spinner-anim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  mix-blend-mode: difference;
  animation-timing-function: linear;
}

@keyframes spinner-anim {
  0% {
    left: 0px;
    top: 50%;
    transform: translate(-100%, -50%);
  }
  50% {
    left: 100%;
    top: 50%;
    transform: translate(0%, -50%);
  }
  100% {
    left: 0px;
    top: 50%;
    transform: translate(-100%, -50%);
  }
}

/* DOT PULSE SPINNER */
.spinner-ball-pulse > div {
  width: 8px;
  height: 8px;
  background-color: var(--empik-orange);
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
  animation: spinner-pulse-anim 1s ease infinite;
}
.spinner-ball-pulse > div:nth-child(0) {
  animation-delay: 300ms;
}
.spinner-ball-pulse > div:nth-child(1) {
  animation-delay: 200ms;
}
.spinner-ball-pulse > div:nth-child(2) {
  animation-delay: 100ms;
}

@keyframes spinner-pulse-anim {
  0% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(1.5);
  }
  
  100% {
    transform: scale(1);
  }
}
